$section-padding-medium: 10px 15px;
$section-padding-large: 10px 15px;
$section-padding: 10px 15px;
$footer-padding: 0;
$box-padding: 0.81rem 0;
$primary: #29AD5E;
$danger: #FB4C51;
$warning: #FFAA1E;
$link: #377DFF;
$info: #377DFF;
$grey: #999999;
$grey-light: #AAAAAA;
$grey-dark: #5F6272;
$dark: #242424;
$grey-darker: #121E36;
$black-ter: #0B1424;
$size-7: 0.6rem;
$tag-radius: 14px;
